{% extends "accounts/template.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <legend>Register</legend>

    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}

    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}<br>
        {% render_field field class="form-control" %}
        <!-- {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %} -->

    </div>
    {% endfor %}
    <input type="submit" class="btn btn-info" value="Sign Up">
</form>
<p class="small my-3">
    Have an account? <a href="{% url 'login' %}">Log In</a>
</p>

{% endblock content %}